<%#<h1 align= "center">Listing all recipes</h1> - These two lines removed to _pages_title.html.erb
<%#<hr /><%#Adds a line across the page as a section divider.%>
<%# The original index.html.erb code has been extracted to _recipe.html.erb.%>

<%= render 'shared/page_title', title: "showing all recipes" %>

<div align="center">
  <%= will_paginate %><%#Renders paginated recipes %>
</div>
<%= render 'recipe', obj: @recipes %><%#Renders the _recipe partial.%>
<div align="center">
  <%= will_paginate %>
</div>