<%# This <div> tag adds a jumbotron with text inside.%>
<div class="jumbotron center"><%# The addition of class 'center' centers the text in the jumbotron pairs with home.html, .center.erb%>
<h1>Welcome to ChefBook!</h1>
<h2>Where culinary creators connect!</h2>
<h3>Stay current with the latest culinary innovations<br>and connect with other chefs to share ideas!</h3><br><br>
<p><%= link_to "Sign Up Free!", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p><%#Creates a button that links to the signup page.%>
</div>

  <div class="main-footer main-footer--white">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 menu">
        <h3>Key Pages</h3>
        <ul>
          <li>
            <a href="/chefs">Chefs</a>
          </li>
          <li>
            <a href="/chat">Chat</a>
          </li>
          <li>
            <a href="/ingredients">Search Recipes by Ingredient</a>
          </li>
          <li>
            <a href="/recipes">All Recipes</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 menu">
        <h3>Site Info</h3>
        <ul>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/help">Help</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 menu">
        <h3>Social Media</h3>
        <ul>
          <li>
            <a href="https://www.facebook.com/keto_hub">Newsletter</a>
          </li>
          <li>
            <a href="https://www.facebook.com/keto_hub/">Facebook</a>
          </li>
          <li>
            <a href="https://www.pinterest.com/keto_hub/">Pinterest</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
