$navbar-default-bg: #ff7f00;// Sets color of navbar

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #331f06;
}

.center {
  text-align: left;//Aligns the text of the home page to the left.
}

.jumbotron {
  background-image: asset-url('cheesy-chicken-bacon-broccoli-and-rice-17.jpg');
  background-size: cover;
  height: 600px;
  margin-bottom: 5px;
}

#logo {//Sets style of "MYRECIPES" title in navbar.
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron h1, h2 {
  color: #ff7f00;
  text-shadow: 2px 2px 4px #000000;
  text-align: left;
  margin-bottom: 50px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h3 {
  color: #ff7f00;
  text-shadow: 2px 2px 4px #000000;
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: #ff7f00;
  }
  
.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}


.row h3{
  color: #ff7f00;
  text-decoration: underline;
  margin-top: 5px;
}

.row a {
  color: #ff7f00;
  }

.col-md-12 {
  text-align: center;
}

.description {
  margin-top: 0;
}

.well a {
  color: #ff7f00;
}

.chef_info {
  margin-top: 10px;
}

.colormatch a {
  color: #ff7f00;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #ff7f00;
  color: #777;
}

footer a:hover {
  color: #ff7f00;
}

footer small {
  float: left;
  margin-left: 15px;
  color: #ff7f00;
  a {
    color: #ff7f00;
  }
}

footer ul {
  list-style: none;
  float: right;
  margin-right: 15px;
  a {
    color: #ff7f00;
  }
}


footer ul li {
  float: left;
  margin-left: 15px;
}

.recipe-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}

.listing {
  list-style: none;//Deletes list bullets in the chef index listings. 
  padding-left: 0;//Deletes the delfault padding of <ul>
}

.chef-title {//Increases visibility of the chefs' names on the chef index page.
  color: #ff7f00;
  font-weight: bold;
  font_size: 1.25em;
}

.container {
  color: #ff7f00;
}

.col-md-10.well {
  padding: 15px;
  background-color: #331f06;
  border-color: #ff7f00;
 }
 
.well.col-md-4.col-md-offset-4 {
  background-color: #331f06;
  border-color: #ff7f00;
}

hr {
  border-color: #ff7f00;
}

.input_checkbox input {
  width: auto !important;
}//Enables Windows to display ingredient checkboxes correctly.

.center-block {
  float: none;
}

.chat-container {
  bottom: 0;
  left: 0;
  right: 0;
  top: 150px;
  width: 80;
}

.message-container {
  .form-control {
    float: left;
    width: 80%;
  }
  .btn {
    float: right;
    position: relative;
    height: 54px !important;
    width: 18%;
  }
}

.message {//Styles the messages that appear in the ChefChat box.
  padding-left: 5px;
  padding-top: 10px;
}

.messages {
  border: 1px solid #ff7f00;
  height: 16em;
  position: relative;
  overflow: auto;
}

.liking {
  padding-right: 10px;
}
